{% if post.image %}
<div class="related_img">
  <img class="bg" src="{{ post.image }}" />

  <div class="child post-item">
    <h3>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
    </h3>
  </div>
</div>
{% else %}
<div class="post-item">
<span class="post-meta">{{ post.date | date: date_format }}</span>
<h3>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
</h3>
</div>
{% endif %}
